.container__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-image: url('alternative_bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}